

.jumbo {
    color: #FFFFFF;
    position: relative;
}

.jumbotron {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.jumboText {
    position: absolute;
    font-size: 3rem;
    font-weight: 5000;
    line-height: 1.3; 
    left: 50%;
    top: 60%;
}



.jumboButton {
    position: absolute;
    width: 20rem;
    height: auto;
    padding: 1%;
    left: 50%;
    top: 80%;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    background: var(--clr-esRed);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border-color: var(--clr-esRed);
}

/* @media only screen and (max-width: 1000px){
    
} */

.content {
    padding: 0 6vw;
}


.intro{
    display: flex;
    width: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 60px auto;
}

.intro:after{
 content: "";
 border-top: 2px solid;
 margin: 0 20px 0 10px;
 flex: 1 0 20px;
 color: var(--clr-esRed);
}

.textOne {
    font-size: 1.5rem;
    background-color: #FFF7F7;
    padding: 2rem 1.2rem;
    border-radius: 15px;
    margin-bottom: 20px;
}

.textOne p {
    padding: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.num {
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.text {
    font-weight: 700;
    text-shadow: 0 0.5px 1px #FF2626;
    font-size: 1rem;
}

.globe{
    object-fit: contain;
}

.globe img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.containerOne  h3 {
   text-align: center;
   text-decoration: underline;
   margin-bottom: 3%;
}

.containerOne img {
     width: 400px;
     height: auto;
}

.containerOneFacts {
     display: flex;
     height: 100%;
     font-size: 1.2rem;
     flex-direction: column;
     justify-content: space-around;
     gap: 30px;
     margin-left: 3%;
}

.item1 {
    min-height: 200px;
    border: 2px solid black;
    border-radius: 16px;
    background-color: var(--clr-esRed);
    color: white;
    padding: 3%;
}

.item2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.itemtop {
    height: auto;
    border: 2px solid black;
    border-radius: 16px;
    padding: 3%;
}


.containerTwo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.containerTwo  h3 {
   text-align: center;
   text-decoration: underline;
}

.containerTwo img {
     width: 600px;
     height: auto;
}

.containerTwoFacts {
    display: flex;
     height: 100%;
     font-size: 1.25rem;
     flex-direction: row-reverse;
     justify-content: space-around;
     margin-right: 3%;
     gap: 30px;
}

.item3 {
    min-height: 450px;
    border: 2px solid black;
    border-radius: 16px;
    background-color: var(--clr-esRed);
    color: white;
    padding: 3%;
}

.item4 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.itemBottom {
    min-height: 200px;
    border: 2px solid black;
    border-radius: 16px;
    padding: 3%;
}



.whatWeOffer {
    display: flex;
    flex-direction: column;
}

.circleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.perks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 230px;
    margin-bottom: 30px;
 }

.circle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #FFF7F7;
    padding: 17px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    margin-bottom: 20px;
}
.circle img{
    width: 100px;
    height: auto;   
}

.perks p {
    font-weight: bold;
    font-size: 20px;
    color: #818080;
    text-align: center;
    width: 70%;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.testimonials {
    font-size: 1.5rem;
    background-color: #FFF7F7;
    padding: 1rem 8rem;
    margin-bottom: 4rem;
    font-weight: 550;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.testimonials p {
    padding: 1rem;
}

.postContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postBlock {
    border: 1px solid var(--clr-esRed);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    padding: 20px;
    width: 400px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 0.45px ;
    -webkit-text-stroke-color: var(--clr-esRed) ;
}

.joinUsText {
    text-align: center;
    margin: 60px;
    -webkit-text-stroke-width: 0.8px ;
    -webkit-text-stroke-color: var(--clr-esRed) ;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.8;
}

.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.contactLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contactLinks img {
    width: 30px;
    height: 30px;
    margin: 30px 10px 30px 10px;
}

.details {
    width: 100%;
    font-size: 1rem;
}

.details a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.details span{
    color: var(--clr-esRed) ;
}

.footer {
    margin: 30px;
    text-align: center;
    font-size: 0.8rem;
}

/* Media Queries */

@media only screen and (max-width: 651px) {
    .perks {
       width: 30vw;
       height: 30vw;
       margin-bottom: 25vw;
  
    }
  
    .circle{
      width: 25vw;
      height: 25vw;
    }
  
    .circle img {
      width: 17vw;
      height: 17vw;
    }
  
    .perks p {
      font-size: 0.8rem;
    }
  
    .stats {
        margin-bottom: 9%;
    }

    .details {
        padding: 5%;
    }
  }

@media only screen and (max-width: 750px) {
    .textOne {
        font-size: var(--res-ftsize);
    }

    .intro {
        font-size: 1.5rem;
     }
    
    .testimonials{
        padding: 1rem;
        font-size: var(--res-ftsize);
    }

    .jumboText {
        top: 63vh;
        left: 40%;
        font-size: 1.5rem;
    }

    .jumboButton {
        top: 75vh;
        left:  40%;
        font-size: 1rem;
        width: 10rem;
        height: 3rem;
    }
    
}

@media only screen and (max-width: 1132px) {

    .containerOne {
        flex-direction: column;
    }

    .containerOne img {
        margin-bottom: 3%;
        width: 100%;
        height: 100%;
    }

    .containerOneFacts{
        font-size: 0.8rem;
    }

    .containerTwoFacts{
        font-size: 0.8rem;
    }

    .containerTwo {
        flex-direction: column;
    }

    .containerTwo img {
        margin: 3%;
        width: 100%;
        height: 100%;
    }

    .item1 {
        min-height: auto;
    }

    .item3 {
        min-height: auto;
    }

    .itemBottom {
        min-height: auto;
    }

    .details {
        margin: 60px;
    }
  
    .postContainer {
        flex-direction: column;
    }

    .postBlock {
        width: 300px;
    }

    .perks p{
        width: auto;
    }
}